/*------------------------------------*\
    #btn
\*------------------------------------*/

.btn {
  position: relative;
  padding: 8px 32px; 
  margin: 10px 0 0 0;
  display: inline-block;
  border-radius: $border-radius;
  border: 2px solid $gray-light;
  color: $gray-dark;
  &:hover {
    border: 2px solid $black;
  }
  
}