/*------------------------------------*\
    #btn
\*------------------------------------*/

.btn {
  @include single-transition(all);
  padding: 10px 20px;
  display: inline-block;
  margin: 10px;
  border: 2px solid $yellow;
  border-radius: 50px;;
  color: $yellow;
  text-transform: uppercase;
  text-align: center;
  &:hover {
    background-color: $yellow;
    border-color: $yellow;
    color: white;
  }
  a {
    color: inherit;
    text-decoration: none;
  } 
}