body, 
html {
  width: 100%;
  height: 100%;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
body {
  background: $gray-light;
}

.main-content {
  width: 100%;
}

.wrapper {
  width: 100%; 
  max-width: 920px;
  margin: 0 auto;
  
}