/*------------------------------------*\
    #POST
\*------------------------------------*/

.posts {
  @include container
}
.post {
  margin-top: 20px;
  @include mq($from: tablet){
    @include span(50%);  
  }
  @include mq($from: desktop){
    @include span(33.33%);  
  }
  @include mq($from: widescreen){
    @include span(25%);  
  }
  @include span(100%);
  padding: 16px;
  position:relative;
  transition:all 300ms 0ms ease-in;
  .post-content {
    position: relative;
    padding: 16px;
    background-color: $white;
    border-bottom: $border-radius solid $gray-dark;
    border-radius: $border-radius;
    &:hover {
    
    }
  }
  
  .post--edit {
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
  }
  
  .post--author {

  }

  // HOVER EVENTS 
  &:hover {
    .post--edit {
      display: block;
    }
  }
}
 
.upvote.disabled {
  opacity: 0.2;
}

.cat-icon {
  position: relative;
  display: block;
  width: 60px; 
  height: 60px;
  margin: 0 auto;
  background-color: $gray-dark;
  border-radius: 90%;
}

.post-stat {
  position: relative;
  clear: both;
  color: $gray-dark;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  li {
    float: left;
    padding-right: 16px;
  }
}


/*------------------------------------*\
    #COMMENTS
\*------------------------------------*/

.comments-list {
  @include span(100%);
  li {
    position: relative;
    @include span(100%); 
    
    padding: 0 16px;
    .comment-content {
      padding: 16px;
      background-color: $white;
      border-top: 1px solid $gray-dark;
    }
  }
}