/*------------------------------------*\
    #POST
\*------------------------------------*/

.posts {
  @include container
}
.post {
  margin-top: 20px;
  @include span(100%);
  padding: 16px;
  position:relative;
  transition:all 300ms 0ms ease-in;
  .post-content {
    position: relative;
    padding: 16px 16px $icon+16 16px;
    background-color: $white;
    border-bottom: $border-radius solid $gray-dark;
    border-radius: $border-radius;
    &:hover {
    
    }
  }
  
  .post--edit {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  .post--author {
    position: absolute;
    top: 16px;
    left: 16px;
  }
}
 
.upvote.disabled {
  opacity: 0.2;
}

.cat-icon {
  position: relative;
  display: block;
  width: 60px; 
  height: 60px;
  margin: 0 auto;
  background-color: $gray-dark;
  border-radius: 90%;
}

.post-stat {
  position: absolute;
  bottom: 0;
  left: 0;
  height: $icon;
  width:100%;
  li {
    @include span(33.33%);
    height: 100%;
    line-height: $icon;
    text-align: center;
    background-color: $white;
    &:nth-child(1),
    &:nth-child(2) {
      border-right: 2px solid $gray-dark;
    }
  }
}


/*------------------------------------*\
    #COMMENTS
\*------------------------------------*/

.comments-list {
  @include span(100%);
  li {
    position: relative;
    @include span(100%); 
    
    padding: 0 16px;
    .comment-content {
      padding: 16px;
      background-color: $white;
      border-top: 1px solid $gray-dark;
    }
  }
}