#container {
  height:400px; 
  width: 600px;
  overflow:visible; 
  padding:0; 
  position:relative;
  border: 1px solid #555;
  background: $white;
}

.box {
  border: 1px dashed black;
  position: absolute;
  top:0;

}

.changed {
  background-color: crimson;
}

.highlight {
  border: 2px solid red;
}

.upload-sticker {
  width: 200px; 
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: $gray-light;
}