// Breakpoints ---------------------------------------------------- //

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;
$mq-breakpoints: (
  phone: 240px,
  phablet: 550px,
  tablet: 750px,
  desktop: 1006px,
  widescreen: 1200px
);

$mq-static-breakpoint: "desktop" ;
$mq-show-breakpoints: (phone, phablet, tablet, desktop, widescreen);

// Grid ----------------------------------------------------------- //
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,  
  gutter-position: outside,
);


// Colors --------------------------------------------------------- //
$gray-dark: #1E2026;
$gray-light: #e3e3e3;
$black: black;
$white: white;
$yellow: #C5AB56;
$brown: #343331;


// Variables ------------------------------------------------------ //
$sidebar: 200px;
$border-radius: 4px;
$icon: 44px;

