<template name="upload">
  {{title}}

  <input type="file">
  <h2>price: {{estimatedPrice}}</h2>
  <h1 class="space-used">0%</h1>
  <div class="upload-container">
    <div id="container" data-width="30">
      {{#each stickers}}
        {{#if img}}
          <img src="{{img}}" alt="{{title}}" class="box" data-id="{{_id}}" data-top="{{top}}" data-left="{{left}}" data-width="5"/>
        {{else}}
          {{> uploadSticker}}
        {{/if}} 
      {{/each}}
    </div>
      
  </div>
      
  
  <button id="uploadSave">Save</button>
  <button id="reset">reset</button>
  <button id="addElement">add</button>
  <br />
  scale
  <input type="range" name="scale" min="0.5" max="1.5" step="0.1" >
  rotate
  <input type="range" name="rotate" min="0" max="360" step="1" >
  skewX
  <input type="range" name="skewX" min="0" max="360" step="1" >
  skewY
  <input type="range" name="skewY" min="0" max="360" step="1" >
  {{#each stickers}}
    <p>top: {{top}} </p>
    <p>left: {{left}}</p>
  {{/each}}
</template>