<template name="upload">
  {{title}}

  <input type="file">
  <h2>price: {{estimatedPrice}}</h2>
  <h1 class="space-used">0%</h1>
  <p style="width:400px; float:left;">Direction since drag start: <span id="sinceDragStart">-</span></p>
  <div id="container">
      <!--<div class="box" id="box2" style="background-color:#555;">Drag and throw me</div>-->
      
      {{#each stickers}}
        {{#if img}}
          <img src="{{img}}" alt="{{title}}" class="box" data-id="{{_id}}" data-top="{{top}}" data-left="{{left}}" />
        {{else}}
          {{> uploadSticker}}
        {{/if}} 
      {{/each}}
  </div>
      
  
  <button id="uploadSave">Save</button>
  <button id="reset">reset</button>
  <button id="addElement">add</button>
  <br />
  scale
  <input type="range" name="scale" min="0.5" max="1.5" step="0.1" >
  rotate
  <input type="range" name="rotate" min="0" max="360" step="1" >
  skewX
  <input type="range" name="skewX" min="0" max="360" step="1" >
  skewY
  <input type="range" name="skewY" min="0" max="360" step="1" >
  {{#each stickers}}
    <p>top: {{top}} </p>
    <p>left: {{left}}</p>
  {{/each}}
</template>