/* OFF CANVAS  */
#site-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	background: $gray-light;
}

#content-frame {
	position: relative;
}

#site-canvas {
  width: 100%;
  height: auto;
  position: relative;
  @include transform(translateX(0px));
  @include transition(all 0.5s ease);
  @media only screen and (max-width: $screen-xs) {
  	@include transform(translateX(0px));
  }
	background: darken($gray-lighter, 3%);
}

#site-menu {
  width: 280px;
  height: 100%;
  position: fixed;
  top: 63px;
  left: 0;
  background: $gray-lighter;
  overflow-y: auto;
  overflow-x: hidden;
  .logo {
  	padding: 14px 7px;
  	width: 100%;
  	background: white;
  	border-bottom: 2px solid rgba($gray-darker, 0.1);
  	img {
  		width: 105px;
  		height: auto;  		
  	}
  }
  .nav-container {
  	padding-bottom: 63px;
	  .list-group {
	  	position: relative;		  
	  	a.list-group-item,
	  	a.hover-toggle {
	  		display: block;
	  		text-decoration: none;
	  		position: relative; 
	  		padding: 14px 21px;
	  		border-top: 1px solid lighten($gray-light, 7%);
	  		border-bottom: 1px solid lighten($gray-light, 7%);
  			color: $gray;
  			margin: -1px;
  			@include light;
	  		&.hovered {
	  			color: darken($brand-success, 7%);
	  			background: white;
	  			display: block;
	  		}
	  		&.active {
	  			color: darken($brand-success, 7%);
	  			display: block;
	  			background: white;	
	  		} 
	  		&:before {
	  			font-size: 21px;
	  			margin-right: 21px;
	  			font-family: "icomoon-typ";
	  		}
	  		&:first-child {
					text-transform: uppercase;
			  	padding: 28px 21px 14px 21px;
		  		border: none;
		  		opacity: 0;
		  		@include transition(all 0.5s ease);
		  		&.hovered {
		  			background: none;
		  			opacity: 1;
		  		}
	  		}
	  		&.collapsible {
	  			&:after {
	  				content: "\e606";
	  				font-family: $icon-font-name;
	  				display: block;
	  				float: right;
	  				@include transform(rotate(90deg));
	  			}
	  		}
	  	}
	  	a.list-group-item-collapse {
	  		display: block;
				padding: 12px 0px 12px 21px;
				background: darken($gray-lighter, 3%);
				border-left: 5px solid lighten($brand-success, 21%);
				border-bottom: 1px solid $gray-lighter;				
				color: $gray;
				&:hover,
				&.active {
					border-left: 5px solid $brand-success;
					text-decoration: none;
					color: $brand-success;
					background: white;
				}				
	  	}
	  }
  }
}


// TOGGLE OFF CANVAS MENU
#site-wrapper.show-nav,
#site-wrapper.homepage-on {
	#site-canvas {
	  @include transform(translateX(280px));
	  @include transition(all 0.5s ease);
	}
	#site-menu {
		@include transition(all 0.5s ease);
		.list-group .list-group-item:first-child {
			opacity: 1;
			@include transition(all 0.5s ease);
			&.hovered {
				background: none;
				opacity: 1;
			}
		}
	}
	#off-canvas-close-overlay {
		display: block;
		opacity: 1;
		@include transition(opacity 0.7s ease);
	}
	.toggle-nav-link {
		color: darken($brand-primary, 14%);
		border-right: 2px solid rgba($brand-primary, 0.7);
		border-bottom: 2px solid rgba($brand-primary, 0.7);
	}
}

// CLOSE OFF CANVAS MENU
#off-canvas-close-overlay {
	display: none;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba($gray-dark, 0.3);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 35;
	@include transition(opacity 0.7s ease);
}

#off-canvas-trigger {
	display: block;
	text-transform: uppercase;
	position: absolute;
	top: 70px;
	left: 10px;
	&:hover {
		text-decoration: none;
	}
}

// TOGGLE NOTES
#site-wrapper.show-notes {
	#site-canvas {
	  @include transform(translateX(-490px));
	  @include transition(all 0.5s ease);
	}
	#notes-wrapper {
		@include transition(all 0.5s ease);
		@include transform(translateX(0px));
	}
}