// RESPONSIVE FONT RESIZE
html {
  font-size: $font-size-base;
  @media #{$sm-only} {
    font-size: $font-size-base - 2;
  }
  @media #{$xs-only} {
    font-size: $font-size-base - 2;
  }
}

// MAIN TEXT
// h1, h2, h3, h4, h5, h6 {
//   @include book;
// }

// strong {
//   @include medium;
// }

// p, em, small {
//   @include light;
// }

// TEXT IN REMS
h1, .h1 { font-size: rem($font-size-h1); }
h2, .h2 { font-size: rem($font-size-h2); }
h3, .h3 { font-size: rem($font-size-h3); }
h4, .h4 { font-size: rem($font-size-h4); }
h5, .h5 { font-size: rem($font-size-h5); }
h6, .h6 { font-size: rem($font-size-h6); }
p, .p, ul { font-size: rem($font-size-base); }

// Contextual emphasis
.text-muted {
  a {
    color: $text-muted!important;
    &:hover {
      color: darken($text-muted, 21%);
    }
  }
  color: $text-muted!important;
}

// GRAYSCALE
.text-gray-lighter {
  a {
    color: $gray-lighter!important;
    &:hover {
      color: darken($gray-lighter, 21%);
    }
  }
  color: $gray-lighter!important;
}
.text-gray-light {
  a {
    color: $gray-light!important;
    &:hover {
      color: darken($gray-light, 21%);
    }
  }
  color: $gray-light!important;
}
.text-gray {
  a {
    color: $gray!important;
    &:hover {
      color: darken($gray, 21%);
    }
  }
  color: $gray!important;
}
.text-gray-dark {
  a {
    color: $gray-dark!important;
    &:hover {
      color: darken($gray-dark, 21%);
    }
  }
  color: $gray-dark!important;
}
.text-gray-darker {
  a {
    color: $gray-darker!important;
    &:hover {
      color: darken($gray-darker, 21%);
    }
  }
  color: $gray-darker!important;
}

// BRAND COLORS
.text-primary {
  a {
    color: $brand-primary!important;
    &:hover {
      color: darken($brand-primary, 21%);
    }
  }
  color: $brand-primary!important;
}
.text-warning {
  a {
    color: $brand-warning!important;
    &:hover {
      color: darken($brand-warning, 21%);
    }
  }
  color: $brand-warning!important;
}
.text-danger {
  a {
    color: $brand-danger!important;
    &:hover {
      color: darken($brand-danger, 21%);
    }
  }
  color: $brand-danger!important;
}
.text-success {
  a {
    color: $brand-success!important;
    &:hover {
      color: darken($brand-success, 21%);
    }
  }
  color: $brand-success!important;
}
.text-info {
  a {
    color: $brand-info!important;
    &:hover {
      color: darken($brand-info, 21%);
    }
  }
  color: $brand-info!important;
}

// Alignment
.text-left {
  text-align: left!important; 
}
.text-right {
  text-align: right!important; 
}
// Center on mobile
.text-left-mob {
  text-align: left!important; 
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    text-align: center!important;
  }
}
.text-right-mob {
  text-align: right!important; 
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    text-align: center!important;
  }
}


// Text transforms
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: none !important;
}

.underline {
  text-decoration: underline!important;
}

a.not-underline {
  &:hover {
    text-decoration: none;
  }
}

// TEXT GRADIENTS
@mixin text-fill-color($color) {
  @include prefixer(text-fill-color, $color, webkit moz spec);
}

@mixin background-clip($clip) {
  @include prefixer(background-clip, $clip, webkit moz spec);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .text-gradient {
    @include background(linear-gradient(left, $brand-primary, $brand-info, $brand-success) repeat);
    @include background-clip(text);
    @include text-fill-color(transparent);
  }
}
// END:TEXT GRADIENTS