<template name="postItem">
  <div class="post" {{attributes}}>
    <div class="post-content">
     <a href="#" class="upvote {{upvotedClass}}">⬆</a>
      <h3><a href="{{pathFor 'postPage'}}">{{title}}</a><span>{{domain}}</span></h3>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}}
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
  </div>
</template>