<template name="postItem">
  <div class="post" {{attributes}}>
    <div class="post-content">
      <div class="cat-icon">
        
      </div>
      <a href="#" class="upvote {{upvotedClass}}">⬆</a>
      <h3><a href="{{pathFor 'postPage'}}">{{title}}</a><span>{{domain}}</span></h3>
      <p>
        
        <a href="{{pathFor 'postPage'}}"></a>
        
        <a class="post--author" href="#">
          By: {{author}}
        </a>
        <!--{{#if ownPost}}-->
          <a class="post--edit" href="{{pathFor 'postEdit'}}">Edit</a>
        <!--{{/if}}-->
      </p>
      <ul class="post-stat">
        <li>{{pluralize votes "Vote"}}</li>
        <li>{{pluralize commentsCount "comment"}}</li>
        <li>3</li>  
      </ul>
    </div>
  </div>
</template>