<template name="postItem">
  <div class="post" {{attributes}}>
    <div class="post-content">
      <a class="post--edit" href="{{pathFor 'postEdit'}}">Edit</a>
      <!--<div class="cat-icon"></div>-->
      <!--<a href="#" class="upvote {{upvotedClass}}">⬆</a>-->
      <h2>
        {{title}}
      </h2>
      
       
      <h3 class="post--author" >
        By: {{author}}
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste repellendus fugit tenetur voluptas numquam natus maxime!
        <!--{{#if ownPost}}-->
          
        <!--{{/if}}-->
      </p>
      
      <ul class="post-stat">
        <li>{{submittedText}}</li> 
        <li>{{pluralize votes "Vote"}}</li>
        <li>{{pluralize commentsCount "comment"}}</li> 
      </ul>
      <a href="{{pathFor 'postPage'}}">
        <div class="btn">Read more</div>
      </a>
    </div>
  </div>
</template>