// Box Model abbreviations list
$box-model-abbr: p, pt, pr, pb, pl, m, mt, mr, mb, ml;
$box-model-sides: padding, padding-top, padding-right, padding-bottom, padding-left, margin, margin-top, margin-right, margin-bottom, margin-left;

@for $i from 0 to 11 {
  @for $j from 1 to length($box-model-sides) {
    .#{nth($box-model-abbr, $j)}-#{$i*$times} {
      // For <IE8
      #{nth($box-model-sides, $j)}: ($i*$times) + px !important;
      // REMs for modern browsers
      @if $px-to-rems == true {
        #{nth($box-model-sides, $j)}: rem($i*$times) !important;
      }
    }
    @media #{$xs-only} {
      .#{nth($box-model-abbr, $j)}-#{$i*$times}-mob {
        // For <IE8
        #{nth($box-model-sides, $j)}: ($i*$times) + px !important;
        // REMs for modern browsers
        @if $px-to-rems == true {
          #{nth($box-model-sides, $j)}: rem($i*$times) !important;
        }
      }
    }
  }
}