<template name="sideNavigation">
  <div class="side-nav">

    <a href="{{pathFor 'home'}}">
      <span class="side-nav--logo">
        UNIVERSE
      </span>
    </a>
    
    <div class="btn">
      Creat
    </div>
    <ul class="menu">
      <li class="{{activeRouteClass 'home' 'newPosts'}}">
            <a href="{{pathFor 'newPosts'}}">New</a>
          </li>
          <li class="{{activeRouteClass 'bestPosts'}}">
            <a href="{{pathFor 'bestPosts'}}">Best</a>
          </li>
      {{#if currentUser}}
            <li class="{{activeRouteClass 'postSubmit'}}">
              <a href="{{pathFor 'postSubmit'}}">Submit Post</a>
            </li>
      {{/if}}
    </ul>
    
    <ul class="colorpallete">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</template>


